@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    /* Primary Colors */
    --Orange: hsl(26, 100%, 55%);
    --Pale_orange: hsl(25, 100%, 94%);

    /* Neutral */

    --Very_dark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black : hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
}



body{
    padding: 0;
    margin: 0;
}

rootNav{
    width: 100vw;
}

#nav{
    width:  80%;
    border-bottom: 1px solid var(--Grayish_blue);
    margin: auto;
    display: flex;
    align-items: center;
    height: 120px;
}

.logo{
    width: 20%;
}

.logo img{
    width: 12rem;
    
}

.navbar{
    width: 40%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.navbar ul li{
    list-style: none;
    display: flex;
    align-items: center;
    height: fit-content;
    height: 117px;
    border-bottom: 3px solid white;
    transition: 0.5s; 
}
.navbar ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--Grayish_blue);
    font-family: Kumbh Sans;
    font-weight: 400;
    transition: 0.5s;
}
.navbar ul li:hover{
    border-bottom: 3px solid var(--Orange);
}

.navbar ul li a:hover{
    color: var(--Dark_grayish_blue);
    
}

.rightNav{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.rightContent{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rightNav .cart img{
    opacity: 80%;
}

.rightNav .cart img:hover{
    cursor: pointer;
    opacity: 100%;
}


.rightNav .profile img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    transition: 0.5s;
}

.rightNav .profile img:hover{
    border: 2px solid var(--Orange);
}


.heroSection{
    width: 80%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.imgSec{
    width: 60%;
}

.mainImg{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainImg img{
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
}

.thumbnail{
    width: 55%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.otherImg img{
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid white;
    transition: 0.5s;
}

.otherImg img:hover, .otherImg .active{
    border: 3px solid var(--Orange);
    opacity: 60%;
}

.tmbImg{
    width: 55%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tmbImg img{
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid white;
    transition: 0.5s;
}

.tmbImg img:hover, .tmbImg .active{
    border: 3px solid var(--Orange);
    opacity: 60%;
}

.textSec{
    width: 40%;
    font-family: Kumbh Sans;
}

.textSec h4{
    color: var(--Orange);
}
.textSec h1{
    color: var(--Black);
    font-size: 3rem;
}
.textSec p{
    color: var(--Dark_grayish_blue);
    width: 80%;
}

.pricing{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing h2, .pricing p{
    margin: 5px;
}
.pricing .fiftyPercent{
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--Pale_orange);
    text-align: center;
}

.textSec .disabledPrice{
    margin: 0px;
    color: var(--Grayish_blue);
    text-decoration: line-through;
}

.buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.buttons .increment{
    width: 35%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--Light_grayish_blue);
}

.buttons .increment .minus,
.buttons .increment .plus{
    width: 30%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.buttons .increment .minus:hover,
.buttons .increment .plus:hover{
    fill: currentColor;
    fill: aqua;
}

.numberI h4{
    color: var(--Dark_grayish_blue);
}

.atc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    background-color: var(--Orange);
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.atc:hover{
    background-color: var(--Dark_grayish_blue);
}

.atc .container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.atc .container h4{
    color: var(--White);
}

.atcModal{
    position: absolute;
    right: 100px;
    top: 100px;
    width: 300px;
    border-radius: 15px;
    display: none;
    box-shadow: 0px 0px 20px  var(--Dark_grayish_blue);
    background-color: var(--Light_grayish_blue);
    transition: 1s;
}

.atcModal1{
    display: block;
    transition: 1s;
}

.atcModal .titleCart{
    width: 80%;
    margin: auto;
    font-family: Kumbh Sans;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Grayish_blue);
}

.atcModal .container .noItems{
    font-family: Kumbh Sans;
    text-align: center;
    margin-bottom: 30px;
    display: block;
}

.attribution{
    font-family: Kumbh Sans;
    height: 20px;
}


.modalList{
    width: 90%;
    margin: auto;
    margin-top: 15px;
    display: none;
    font-family: Kumbh Sans; 
    padding: 5px;
    justify-content: space-between;
}

.imgPart{
    width: 20%;
    
}

.imgPart img{
    width: 100%;
    border-radius: 5px;
}

.textPart{
    width: 75%;

}

.textPart h5{
    margin: 2px;
}

.textsecond{
    margin-top: 5px;
    font-size: 12px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.totalPrice{
    font-family: Kumbh Sans;
    font-weight: bold;
}


.textsecond p{
    margin: 0;
}

.checkoutBtn{
    width: 50%;
    margin: auto;
    height: 40px;
    border-radius: 7px;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Kumbh Sans;
    background-color: var(--Orange);
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.checkoutBtn:hover{
    background-color: var(--Dark_grayish_blue);
}


.lightBox{
    
    z-index: 1111;
    width: 100vw;
    height: 100vh;
    background-color: #262626b1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.close{
    width: 30%;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: end;
    justify-content: end;
    color: #ffff;
    font-family: Kumbh Sans;
    font-weight: bold;
    position: relative;
}


.prevBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

.prevBtn img{
    width: 20px;
}

.nextBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

.nextBtn img{
    width: 20px;
}









